[Desktop Entry]
Comment=Kawaii theme for UwU OS
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;Kawaii;Nyah;Anime;Hentai;UwU OS;
Name=Kawaii
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-PluginInfo-Author=Kawaii department
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.kawaii.desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
