[SddmGreeterTheme]
Name=Kawaii
Description=Kawaii lock screen
Version=0.1
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=kawaii
Theme-API=2.0
